{$DOMAIN} {
    tls /etc/caddy/certs/origin.pem /etc/caddy/certs/origin.key

    header {
        Content-Security-Policy "default-src 'self'; img-src 'self' https://avatars.steamstatic.com; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; connect-src 'self'"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
    }

    reverse_proxy frontend:80
}
